body
{
    background-size: cover;
    background-position: center;
}
.objects
{
    margin: 20px;
}
.a
{
    background: white;
    color: black;
    border-radius: 20px;
    width: 250px;
}